{% load static %}

<html lang="en">
    <head>

        <title>Courses</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <style>
        table {
            width: 70%;
        }
        thead > tr > th {
            font-weight: 500;
            font-size: 1.1em;
            padding: 0.7em;
        }
        tr:nth-child(even) {
            background-color: var(--table-alternate-row);
        }
        td {
            text-align: center;
            font-size: 0.9em;
            padding:.5em;
        }
        .center_table{
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="flex flex-row justify-between" style="margin: 1em 0;">
            <div class="flex">

            <h1 class="left"> Schedule </h1>
            <small></small>
        </div>
    </div>
    </div>
        <table class="center_table">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Course Title</th>
                <th>Course Description</th>
                <th>Course Schedule</th>
            </tr>
            </thead>
            <tbody>
            {% for course in courses %}
                <tr>
                    <td data-label="ID">{{ course.id }}</td>
                    <td data-label="Title"><a class="course-link" href="{% url 'detailed' course.id %}">{{ course.title }}</a></td>
                    <td data-label="Description">{{ course.description }}</td>
                    <td data-label="Section">{{ course.schedule }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </body>
</html>