{% load static %}

<html lang="en">
    <head>
        <title>Success</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    </head>
    <style>
        .cons {
            width: min(90%, 30em);
            height: 85vh;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .cons > * {
            margin: 0.7em 0;
        }
    </style>
    <body>
        {% include "navbar.html" %}
        <div class="container">
            <div class="cons">
                <h2>You added a course</h2>
                <p>Key: {{ key }}</p>
                <a href="{% url 'coursepage' %}">
                    <button>
                        Course List
                    </button>
                </a>
            </div>
        </div>
    </body>
</html>